body {
	font-family: 'open sans',arial, helvetica, sans-serif;
	font-weight: normal;
	color: #fff;
}

a {
	color: #3539e3;
}

a:hover {
	text-decoration: none;
	color: rgba(46, 48, 146, 0.7);
}

a:focus {
	text-decoration: none;
}

#header-nav {
	height: 90px;
	background-color: #2e3092;
	border-radius: 0;
	border: 0;
	box-shadow: 0px 0px 2px 2px black;
	margin-bottom: 0px;
}

#logo-img {
	background: url('../images/logo.png') no-repeat;
	width: 122px;
	height: 68px;
	margin: 15px 0px 10px 40px; 
}

.control-label {
	font-size: 13px;
	font-weight: normal;
}

#nav-list {
 	margin-top: 38px;
 	margin-right: 100px;
 }

#nav-list a {
	color: white;
	text-align: center;
	font-size: 12px;
	font-family: arial, sans-serif;
	font-weight: 500;
	margin-left: 10px;
}

#nav-list a:hover {
	font-weight: 500;
	color: rgba(255, 255, 255, 0.8);
	background-color: transparent;
}

#nav-list a:focus {
	background-color: transparent;
}

.dropdown-menu {
	background-color: rgba(0, 0, 0, 0.8);
}

#about {
	background: url('../images/jumbotron2.jpg') no-repeat fixed;
	margin-bottom: 0px;
	padding-top: 100px;
}

#about-img {
	background: url('../images/about.png') no-repeat;
	text-align: center;
	width: 129px;
	height: 95px;
	margin-bottom: 30px;
	margin-top: 50px;
}

#about-text p {
	color: #fff;
	font-size: 14px;
	text-align: left;
	font-weight: normal;
}

li {
	font-size: 14px;
	color: #fff;
}

#services {
	background: url('../images/jumbotron3.jpg') no-repeat fixed ;
	margin-bottom: 0px;
	padding-top: 100px;
}

#services-img {
	background: url('../images/services.png') no-repeat;
	text-align: center;
	width: 129px;
	height: 95px;
	margin-bottom: 0px;
	margin-top: 50px;
}

#services-text p{
	color: #fff;
	font-size: 14px;
	text-align: left;
	font-weight: normal;
}

#allservice-content {
	margin-top: 150px;
}

#box {
	height: 250px;
}

#box1 {
	height: 250px;
}

#box2 {
	height: 250px;
}

#box3 {
	height: 250px;
}

#box4 {
	height: 250px;
}

#box5 {
	height: 250px;
}

#footer #header-nav1 {
	height: 300px;
	background-color: #030303;
	border-radius: 0;
	border: 0;
	box-shadow: 0px 0px 0px 0px rgba( 0, 0, 0, 0);
	margin-bottom: 0px;
}


#twitter {
	padding-left: 15px;
}

#instagram {
	padding-left: 15px;
}

#footer2 #header-nav2 {
	height: 120px;
	background-color: #030303;
	border-radius: 0;
	border: 0px ;
	box-shadow: 0px 0px 0px 0px rgba( 0, 0, 0, 0);
	margin-bottom: 0px;
}

#copyright {
	text-align: center;
	font-size: 12px;
	color: #fff;
	margin-top: 20px;
}

#social {
	text-align: center;
	font-size: 16px;
	padding-top: 40px;
	color: #fff;
}

#social1 {
	text-align: center;
	font-size: 20px;
	padding-top: 10px;
}

#facilities ul {
	text-align: left;
	font-size: 14px;
	padding-top: 10px;
}

h4 {
	color: #3539e3;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#facilities h4 {
	padding-top: 40px;
}

#contact {
	text-align: left;
	font-size: 14px;
	padding-top: 40px;
	color: #fff;
}

.btn-default {
	background-color: #2e3092;
	color: #fff;
	border-color: none;
}

.btn-default:hover {
	color: rgba(255, 255, 255, 0.6);
	background-color: rgba(46, 48, 146, 0.7);
	border-color: none;
}

.btn-default a {
	color: #fff;
}

#designer {
	text-align: center;
	font-size: 12px;
	padding-top: 10px;
	color: #fff;
}

#white {
	color: #3539e3;
}

#white:hover {
	text-decoration: none;
	color: rgba(46, 48, 146, 0.7);
}

#white1 {
	color: #3539e3;
}

#white1:hover {
	text-decoration: none;
	color: rgba(46, 48, 146, 0.7);
}

h3 {
	color: #3539e3;
	margin-top: 40px;
	font-size: 20px;
}

#jssor_1 {
	margin-bottom: 0px;
	height: 720px;
	margin-top: 90px;
}

.jssora22l, .jssora22r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 40px;
            height: 58px;
            cursor: pointer;
            background: url('../img/a22.png') center center no-repeat;
            overflow: hidden;
}

.jssora22l { background-position: -10px -31px; }
.jssora22r { background-position: -70px -31px; }
.jssora22l:hover { background-position: -130px -31px; }
.jssora22r:hover { background-position: -190px -31px; }
.jssora22l.jssora22ldn { background-position: -250px -31px; }
.jssora22r.jssora22rdn { background-position: -310px -31px; }


h2 {
	color: #fff;
	font-weight: 500;
	margin-top: 0px;
	margin-bottom: 35px;
	font-size: 1.5vw;
	padding-left: 0px;
	margin-left: 40px;
}

hr {
    margin-top: 0px; 
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #eee;
}

 /** for large devices **/
@media (min-width: 1200px) {

}

/** for medium devices **/
@media (min-width: 992px) and (max-width: 1199px) {
	#box {
	height: 300px;
}

#box1 {
	height: 300px;
}

#box2 {
	height: 300px;
}

#box3 {
	height: 300px;
}

#box4 {
	height: 300px;
}

#box5 {
	height: 300px;
}

	#services {
	background: url('../images/jumbotron3.jpg') no-repeat fixed ;
	margin-bottom: 0px;
	padding-top: 100px;
}

	#services-img {
	background: url('../images/services.png') no-repeat;
	text-align: center;
	width: 129px;
	height: 95px;
	margin-bottom: 30px;
	margin-top: 0px;
}
}

/** for small devices **/
@media (min-width: 768px) and (max-width: 991px) {
	#header-nav {
		height: auto;
		background-color: #2e3092;
		border-radius: 0;
		border: 0;
		box-shadow: 0px 0px 6px 2px;
		margin-bottom: 0px;
}
	
	#nav-list {
 		margin-top: 38px;
 		margin-right: 0px;
 }

	#logo-img {
		background: url('../images/logo.png') no-repeat;
		width: 122px;
		height: 68px;
		margin: 15px 0px 10px 0px; 
}

	.image-container img {
		padding-top: 20px;
}

#footer #header-nav1 {
	height: 350px;
	background-color: #030303;
	border-radius: 0;
	border: 0;
	box-shadow: 0px 0px 0px 0px rgba( 0, 0, 0, 0);
	margin-bottom: 0px;
}

}

 /** for extra small devices**/
@media (max-width: 767px) {
	#header-nav {
		height: auto;
		background-color: #2e3092;
		border-radius: 0;
		border: 0;
		box-shadow: 0px 0px 2px 2px black;
		margin-bottom: 0px;
	}

	#logo-img {
		background: url('../images/logo.png') no-repeat;
		width: 122px;
		height: 68px;
		margin: 15px 0px 10px 10px; 
}	

	.navbar-toggle {
		display: block;
		float: right;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: 20px;
	}

	#nav-list {
 		margin-right: 0px;
 		margin-top: 15px;
 }

	#nav-list a {
		color: white;
		text-align: center;
		font-size: 12px;
		font-family: arial, sans-serif;
		font-weight: 500;
}

#about {
	background: url('../images/jumbotron2.jpg') no-repeat fixed;
	margin-bottom: 0px;
	padding-top: 90px;
}

#about-img {
	background: url('../images/abt.png') no-repeat;
	text-align: center;
	width: 85px;
	height: 62px;
	margin-bottom: 30px;
	margin-top: 0px;
}

#services {
	background: url('../images/jumbotron7.jpg') no-repeat;
	margin-bottom: 0px;
	padding-top: 90px;
}

#services-img {
	background: url('../images/ser.png') no-repeat;
	text-align: center;
	width: 85px;
	height: 62px;
	margin-bottom: 0px;
	margin-top: 0px;
}

	#box {
	height: 270px;
}

#box1 {
	height: 550px;
}

#box2 {
	height: 550px;
}

#box3 {
	height: 550px;
}

#box4 {
	height: 550px;
}

#box5 {
	height: 550px;
}

#footer #header-nav1 {
	height: 720px;
	background-color: #030303;
	border-radius: 0;
	border: 0;
	box-shadow: 0px 0px 0px 0px rgba( 0, 0, 0, 0);
	margin-bottom: 0px;
}

#twitter {
	padding-left: 15px;
}

#instagram {
	padding-left: 15px;
}

#footer2 #header-nav2 {
	height: 120px;
	background-color: #030303;
	border-radius: 0;
	border: 0px ;
	box-shadow: 0px 0px 0px 0px rgba( 0, 0, 0, 0);
	margin-bottom: 0px;
}

#social {
	text-align: center;
	font-size: 14px;
	padding-top: 40px;
	color: #fff;
}

#social1 {
	text-align: center;
	font-size: 20px;
	padding-top: 10px;
	margin-bottom: 30px
}

#contact {
	text-align: center;
	font-size: 14px;
	padding-top: 40px;
	color: #fff;
}

#facilities ul {
	text-align: center;
	font-size: 14px;
	padding-top: 40px;
	margin-bottom: 30px;
}

.image-container img {
	padding-top: 20px;
}

h3 {
	margin-top: 0px;
	padding-top: 0px;
}

}